@using System.Security.Claims

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle"></i> 
                @User.FindFirstValue(ClaimTypes.Name)
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Profile" asp-action="Index">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form asp-controller="Auth" asp-action="Logout" method="post">
                        <button type="submit" class="dropdown-item">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Auth" asp-action="Register">Register</a>
        </li>
    }
</ul>